body {
	background-color: #eae2d7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}
#wrapper {
	max-width: 80%;
	margin: 0 auto;
}
header{
	background-color:white;
	width: 100%;
	margin: 0 auto;
	text-align:center;
	position: relative;
}
/*logo*/
header img{
	text-align: center;
	background-color: #FFF;
	width: 80%;
	max-height: 100%;
}

/*forside billede*/
#lulu img{
	text-align: center;
	width: 100%;
	border-radius: 10px;
}

/*menupunkterne på forsiden*/
.menupunkt {
	float: left;
	width: 33.333%; 
}
.menupunkt img {
	width: 100%;
}
/*menupunkts tekst på forsiden*/
.menupunkt p {
	text-align: center;	
	height: 50px;
}

/*Knapperne på om os siden*/
.knap {
	float: left;	
	width: 50%;
}
.knap img {
	width: 50%;
	margin: 0 0 0 25%;
}
.knap p {
	text-align: center;	
	height: 50px;	
}

/*Støt siden mobilknappen*/
#mobil img {
	float: left;
	width: 40%;
	margin: 1.5% 0 0 0;
}
/*Støt siden kreditkortknappen*/
#kort img {
	float: right;
	width: 40%;	
}
footer{	
	clear:both;
}

footer img{
	width: 100%;
	margin-top:20px;
}

/**mød klovnene*/
.klovnside{
	background-color:white;
}


.fotoklovn{
	width:50%;
	float:left;
}

.fotoklovn img{
	width:100%;
	margin-left:20px;;
}

.talebobler{/**omkring alle talebobler*/
	float:left;
	width:50%;

}
.talebobler2{ /*alle talebobler på første side*//
	width:100%;
}

/*talebobel i mød klovnene*/
.bubble,.bubblesvar {
	position: relative;
	background-color:#eae2d7;
	margin: 20px 0 20px 0;
	padding:10px;
	text-align:center;
	border-radius:10px; 	
}

a .bubblesvar{
	text-decoration:none;
	color:black;
}

/*den trekant som udgør talebobbel*/
.bubble:after,.bubblesvar:after{
  	position: absolute; /* er altid samme sted ift. .bubble*/
  	display: block;
	content: "";  
	border-color: transparent  transparent transparent #eae2d7;
	border-style: solid;
	border-width: 15px;/*størrelse på trekant i talebobbe*/
	top:15px;
	left:100%; /*position af trekant*/
}

.bubblesvar:after{
/*trekant i anden side*/	
  	border-color:#eae2d7 transparent transparent transparent;
	bottom:-18px;
	left:1em;
	bottom:5px;
	top:100%;

}
/*klovnegalleri*/
.klovnegalleri div{
	width:100%;
}

/*Tekstboxenes style*/
form {
	width: 100%;
}